body {
	font-family: Helvetica;
}

.header {
	margin-top: 20px;
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: 800;
}

.subheader {
	margin-bottom: 30px;
	font-size: 20px;
}

.content > *{
	display:inline;
}

#button {
	background-color:#40F0E1;
	text-decoration: none;
	border-width: 0px;
	height:30px;
	width:70px;
	font-size: 15px;
	font-weight: 700;
}

#input {
	width:200px;
	height:20px;
	font-family: Helvetica;
	font-size: 15px;
}

div.result {
	width: 500px;
}